@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #222831 !important;
}

.list-group-item {
  background-color: #3f3f44 !important;
  color: #e3e3e3 !important;
}
